## my capstone data

### start by reading in SNAP and Child Nutrition data - national level plus county and state population from Census data

In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import lxml.html as lh
import csv

In [2]:
#read in csv files
#snap benefit national summary with participation (rounded thousands) average benefits per person in dollars and 
#costs rounded in millions as benefits, other costs and total costs (sum)census
snap_national = pd.read_csv('..\data\snap_national_summary_1969_2019.csv')                            
snap_national.head()

,year,avg_participation_t,avg_benefit_person,benefit_m,cost_other_m,cost_total_m
0,1969,2878,6.63,228.8,21.7,250.5
1,1970,4340,10.55,549.7,27.2,576.9
2,1971,9368,13.55,1522.7,53.2,1575.9
3,1972,11109,13.48,1797.3,69.4,1866.7
4,1973,12166,14.60,2131.4,76.0,2207.4

In [3]:
snap_national.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
year                   51 non-null int64
avg_participation_t    51 non-null int64
avg_benefit_person     51 non-null float64
benefit_m              51 non-null float64
cost_other_m           51 non-null float64
cost_total_m           51 non-null float64
dtypes: float64(4), int64(2)
memory usage: 2.5 KB

In [4]:
#read in csv files
#census population by state with fips code 1790-1990
census_state = pd.read_csv('..\data\pop_census_state_1790_1990.csv')
census_state.head()

,state,1990,1980,1970,1960,1950,1940,1930,1920,1910,...,1850,1840,1830,1820,1810,1800,1790,first_census,no_change_since,fips
0,Alabama,4040587,3893888,3444165,3266740,3061743,2832961,2646248,2348174,2138093,...,771623,590756,309527,127901,9046,1250,---,1800,1820,1
1,Alaska,550043,401851,300382,226167,128643,72524,59278,55036,64356,...,---,---,---,---,---,---,---,1880,1880,2
2,Arizona,3665228,2718215,1770900,1302161,749587,499261,435573,334162,204354,...,---,---,---,---,---,---,---,1860,1870,4
3,Arkansas,2350725,2286435,1923295,1786272,1909511,1949387,1854482,1752204,1574449,...,209897,97574,30388,14273,1062,---,---,1810,1830,5
4,California,29760021,23667902,19953134,15717204,10586223,6907387,5677251,3426861,2377549,...,92597,---,---,---,---,---,---,1850,1860,6

In [5]:
census_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 25 columns):
state              51 non-null object
1990               51 non-null int64
1980               51 non-null int64
1970               51 non-null int64
1960               51 non-null int64
1950               51 non-null int64
1940               51 non-null int64
1930               51 non-null int64
1920               51 non-null int64
1910               51 non-null int64
1900               51 non-null int64
1890               51 non-null object
1880               51 non-null object
1870               51 non-null object
1860               51 non-null object
1850               51 non-null object
1840               51 non-null object
1830               51 non-null object
1820               51 non-null object
1810               51 non-null object
1800               51 non-null object
1790               51 non-null object
first_census       51 non-null int64
no_change_since    51 non-null int64
fips               51 non-null int64
dtypes: int64(13), object(12)
memory usage: 10.0+ KB

In [6]:
# need to clean census by state 
# melt into tidy data with state, year, population and fips code columns
# clean object dtypes for 1790-1890 optional as I won't be using those years

In [7]:
census_state_pop = pd.melt(frame=census_state, id_vars=['state','first_census','no_change_since','fips'],
value_vars =['1990','1980','1970','1960','1950','1940','1930','1920','1910','1900','1890','1880','1870','1860','1850',
             '1840','1830','1820','1810','1800','1790'],
var_name='year', value_name='population')
census_state_pop.population=pd.to_numeric(census_state_pop.population, errors='coerce').fillna(0).astype(np.int64)
census_state_pop.year=pd.to_numeric(census_state_pop.year, errors='coerce').fillna(0).astype(np.int64)
census_state_pop.head()

        state  first_census  no_change_since  fips  year  population
0     Alabama          1800             1820     1  1990     4040587
1      Alaska          1880             1880     2  1990      550043
2     Arizona          1860             1870     4  1990     3665228
3    Arkansas          1810             1830     5  1990     2350725
4  California          1850             1860     6  1990    29760021

In [8]:
census_state_pop=census_state_pop[['state','year','population','fips','first_census','no_change_since']]
census_state_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 6 columns):
state              1071 non-null object
year               1071 non-null int64
population         1071 non-null int64
fips               1071 non-null int64
first_census       1071 non-null int64
no_change_since    1071 non-null int64
dtypes: int64(5), object(1)
memory usage: 50.3+ KB

In [22]:
# also aggregate census_state-pop to total by year national census census_pop
census_pop=census_state_pop.groupby(['year'])['population'].sum().reset_index(name='us_population')
census_pop.tail()

    year  us_population
16  1950      151325798
17  1960      179323175
18  1970      203211926
19  1980      226545805
20  1990      248709873

In [25]:
# add in two more census years 2000 and 2010 and an estimate for 2020
census_pop=census_pop.append({'year':2000, 'us_population':281401351}, ignore_index=True)
census_pop=census_pop.append({'year':2010, 'us_population':308745538}, ignore_index=True)
census_pop=census_pop.append({'year':2020, 'us_population':331002651}, ignore_index=True)
census_pop.tail()

    year  us_population
22  2000      281401351
23  2010      308745538
24  2000      281401351
25  2010      308745538
26  2020      331002651

In [9]:
#read in csv files
#civilian unemployment 2000-2020 by month by age and race
civilian_unemployment = pd.read_csv(r'C:\Users\annru\Documents\Capstone\data\civ_unemployment_2000_2020.csv')
civilian_unemployment.head()

,Month,Grouped,Total,Men_over_20,Women_over_20,teens_16to19,White,Black,Asian,Hispanic,trim,len
0,Apr 2000,3.83.13.512.63.47.0 5.5,3.8,3.1,3.5,12.6,3.4,7.0,5.5,NaN,3.83.13.512.63.47.0 5.5,23
1,May 2000,4.03.33.712.83.57.7 5.8,4.0,3.3,3.7,12.8,3.5,7.7,5.8,NaN,4.03.33.712.83.57.7 5.8,23
2,June 2000,4.03.23.712.33.47.8 5.6,4.0,3.2,3.7,12.3,3.4,7.8,5.6,NaN,4.03.23.712.33.47.8 5.6,23
3,July 2000,4.03.33.713.43.57.7 5.8,4.0,3.3,3.7,13.4,3.5,7.7,5.8,NaN,4.03.33.713.43.57.7 5.8,23
4,Aug 2000,4.13.33.814.03.67.9 5.9,4.1,3.3,3.8,14.0,3.6,7.9,5.9,NaN,4.13.33.814.03.67.9 5.9,23

In [10]:
civilian_unemployment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 12 columns):
    Month        241 non-null object
Grouped          241 non-null object
Total            241 non-null float64
Men_over_20      241 non-null float64
Women_over_20    241 non-null float64
teens_16to19     241 non-null float64
White            241 non-null float64
Black            241 non-null float64
Asian            241 non-null float64
Hispanic         208 non-null float64
trim             241 non-null object
len              241 non-null int64
dtypes: float64(8), int64(1), object(3)
memory usage: 22.7+ KB

In [11]:
civilian_unemployment.tail()

,Month,Grouped,Total,Men_over_20,Women_over_20,teens_16to19,White,Black,Asian,Hispanic,trim,len
236,Feb 2010,9.810.38.025.68.916.18.212.7,9.8,10.3,8.0,25.6,8.9,16.1,8.2,12.7,9.810.38.025.68.916.18.212.7,28
237,Mar 2010,9.910.28.126.28.916.87.612.9,9.9,10.2,8.1,26.2,8.9,16.8,7.6,12.9,9.910.28.126.28.916.87.612.9,28
238,Apr 2010,9.910.28.325.49.016.67.012.5,9.9,10.2,8.3,25.4,9.0,16.6,7.0,12.5,9.910.28.325.49.016.67.012.5,28
239,Oct 2009,10.010.48.027.29.215.87.612.8,10.0,10.4,8.0,27.2,9.2,15.8,7.6,12.8,10.010.48.027.29.215.87.612.8,29
240,Apr 2020,14.713.015.531.914.216.714.518.9,14.7,13.0,15.5,31.9,14.2,16.7,14.5,18.9,14.713.015.531.914.216.714.518.9,32

In [12]:
# df = df[df.columns.drop(col_to_drop)]
cols_to_drop = ['Grouped', 'trim','len']
civilian_unemployment=civilian_unemployment[civilian_unemployment.columns.drop(cols_to_drop)]
civilian_unemployment=civilian_unemployment
civilian_unemployment.head()

,Month,Total,Men_over_20,Women_over_20,teens_16to19,White,Black,Asian,Hispanic
0,Apr 2000,3.8,3.1,3.5,12.6,3.4,7.0,5.5,NaN
1,May 2000,4.0,3.3,3.7,12.8,3.5,7.7,5.8,NaN
2,June 2000,4.0,3.2,3.7,12.3,3.4,7.8,5.6,NaN
3,July 2000,4.0,3.3,3.7,13.4,3.5,7.7,5.8,NaN
4,Aug 2000,4.1,3.3,3.8,14.0,3.6,7.9,5.9,NaN

In [13]:
civilian_unemployment.columns=civilian_unemployment.columns.str.strip().str.lower()
civilian_unemployment.head()

,month,total,men_over_20,women_over_20,teens_16to19,white,black,asian,hispanic
0,Apr 2000,3.8,3.1,3.5,12.6,3.4,7.0,5.5,NaN
1,May 2000,4.0,3.3,3.7,12.8,3.5,7.7,5.8,NaN
2,June 2000,4.0,3.2,3.7,12.3,3.4,7.8,5.6,NaN
3,July 2000,4.0,3.3,3.7,13.4,3.5,7.7,5.8,NaN
4,Aug 2000,4.1,3.3,3.8,14.0,3.6,7.9,5.9,NaN

In [14]:
civilian_unemployment[['month','year']]=civilian_unemployment.month.apply(lambda x: pd.Series(str(x).split(" ")))

In [15]:
civilian_unemployment.columns

Index(['month', 'total', 'men_over_20', 'women_over_20', 'teens_16to19',
       'white', 'black', 'asian', 'hispanic', 'year'],
      dtype='object')

In [16]:
civilian_unemployment=civilian_unemployment[['month', 'year', 'total', 'men_over_20', 'women_over_20', 'teens_16to19',
       'white', 'black', 'asian', 'hispanic']]
civilian_unemployment.head()

,month,year,total,men_over_20,women_over_20,teens_16to19,white,black,asian,hispanic
0,Apr,2000,3.8,3.1,3.5,12.6,3.4,7.0,5.5,NaN
1,May,2000,4.0,3.3,3.7,12.8,3.5,7.7,5.8,NaN
2,June,2000,4.0,3.2,3.7,12.3,3.4,7.8,5.6,NaN
3,July,2000,4.0,3.3,3.7,13.4,3.5,7.7,5.8,NaN
4,Aug,2000,4.1,3.3,3.8,14.0,3.6,7.9,5.9,NaN

In [17]:
civilian_unemployment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 10 columns):
month            241 non-null object
year             241 non-null object
total            241 non-null float64
men_over_20      241 non-null float64
women_over_20    241 non-null float64
teens_16to19     241 non-null float64
white            241 non-null float64
black            241 non-null float64
asian            241 non-null float64
hispanic         208 non-null float64
dtypes: float64(8), object(2)
memory usage: 18.9+ KB

In [18]:
civilian_unemployment['year'] = civilian_unemployment['year'].astype(int)

In [19]:
civilian_unemployment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 10 columns):
month            241 non-null object
year             241 non-null int32
total            241 non-null float64
men_over_20      241 non-null float64
women_over_20    241 non-null float64
teens_16to19     241 non-null float64
white            241 non-null float64
black            241 non-null float64
asian            241 non-null float64
hispanic         208 non-null float64
dtypes: float64(8), int32(1), object(1)
memory usage: 18.0+ KB

In [ ]:
# read in Food expenditures 1997-2019from USDA

In [47]:
# web scrape population numbers 
url = 'https://www.worldometers.info/world-population/us-population/'
url = f'{url}'

In [48]:
# pull data from the page
resp = requests.get(url)

# We want the print statement to be 200
print(resp.status_code)

200

In [57]:
# Establish the "soup" object so we can traverse the website content
soup = BeautifulSoup(resp.text, 'html.parser')

In [58]:
pop_demographics = soup.find(id='worldometers_728x90_970x90_BTF') \
    .find('div', {'class': 'table-responsive'})

In [61]:
# Now that we've created the soup.. Let's find the pagination elements.
# Check the repositories page to find out what to look for!
len(soup.findAll('div', {'class': 'table table-striped table-bordered table-hover table-condensed table-list'}))

0

In [65]:
pop_demographics = soup.find('table', {'class': 'table table-striped table-bordered table-hover table-condensed table-list'})
pop_demographics

<table class="table table-striped table-bordered table-hover table-condensed table-list"><thead> <tr> <th>Year</th><th>Population</th><th>Yearly % <br/> Change</th><th>Yearly<br/> Change</th><th>Migrants (net)</th><th>Median Age</th><th>Fertility Rate</th><th>Density (P/KmÂ²)</th><th>Urban<br/> Pop %</th><th>Urban Population</th><th>Country's Share of<br/> World Pop</th><th>World Population</th><th>U.S.<br/>Global Rank</th></tr></thead><tbody> <tr> <td>2020</td> <td><strong>331,002,651</strong></td> <td>0.59 %</td> <td>1,937,734</td> <td>954,806</td> <td>38.3</td> <td>1.78</td> <td>36</td> <td>82.8 %</td> <td>273,975,139</td> <td>4.25 %</td> <td>7,794,798,739</td> <td>3</td> </tr> <tr> <td>2019</td> <td><strong>329,064,917</strong></td> <td>0.60 %</td> <td>1,968,652</td> <td>954,806</td> <td>37.7</td> <td>1.85</td> <td>36</td> <td>82.5 %</td> <td>271,365,914</td> <td>4.27 %</td> <td>7,713,468,100</td> <td>3</td> </tr> <tr> <td>2018</td> <td><strong>327,096,265</strong></td> <td>0.62 %</td> <td>2,011,509</td> <td>954,806</td> <td>37.7</td> <td>1.85</td> <td>36</td> <td>82.2 %</td> <td>268,786,714</td> <td>4.29 %</td> <td>7,631,091,040</td> <td>3</td> </tr><tr> <td>2017</td> <td><strong>325,084,756</strong></td> <td>0.64 %</td> <td>2,068,761</td> <td>954,806</td> <td>37.7</td> <td>1.85</td> <td>36</td> <td>81.9 %</td> <td>266,243,516</td> <td>4.31 %</td> <td>7,547,858,925</td> <td>3</td> </tr><tr> <td>2016</td> <td><strong>323,015,995</strong></td> <td>0.67 %</td> <td>2,137,685</td> <td>954,806</td> <td>37.7</td> <td>1.85</td> <td>35</td> <td>81.7 %</td> <td>263,743,312</td> <td>4.33 %</td> <td>7,464,022,049</td> <td>3</td></tr><tr> <td>2015</td> <td><strong>320,878,310</strong></td> <td>0.76 %</td> <td>2,373,367</td> <td>992,343</td> <td>37.6</td> <td>1.88</td> <td>35</td> <td>81.4 %</td> <td>261,287,811</td> <td>4.35 %</td> <td>7,379,797,139</td> <td>3</td></tr><tr> <td>2010</td> <td><strong>309,011,475</strong></td> <td>0.93 %</td> <td>2,803,593</td> <td>1,085,751</td> <td>36.9</td> <td>2.06</td> <td>34</td> <td>80.7 %</td> <td>249,297,076</td> <td>4.44 %</td> <td>6,956,823,603</td> <td>3</td></tr><tr> <td>2005</td> <td><strong>294,993,511</strong></td> <td>0.93 %</td> <td>2,656,520</td> <td>1,066,979</td> <td>36.1</td> <td>2.04</td> <td>32</td> <td>80.0 %</td> <td>235,892,407</td> <td>4.51 %</td> <td>6,541,907,027</td> <td>3</td> </tr><tr> <td>2000</td> <td><strong>281,710,909</strong></td> <td>1.22 %</td> <td>3,309,433</td><td>1,771,991</td> <td>35.2</td> <td>2.00</td> <td>31</td> <td>79.1 %</td> <td>222,927,913</td> <td>4.59 %</td> <td>6,143,493,823</td> <td>3</td></tr><tr> <td>1995</td> <td><strong>265,163,745</strong></td> <td>1.01 %</td> <td>2,608,687</td> <td>892,751</td> <td>34.0</td> <td>2.03</td> <td>29</td> <td>77.4 %</td> <td>205,240,402</td> <td>4.62 %</td> <td>5,744,212,979</td> <td>3</td></tr><tr> <td>1990</td> <td><strong>252,120,309</strong></td> <td>0.95 %</td> <td>2,324,097</td> <td>673,371</td> <td>32.8</td> <td>1.91</td> <td>28</td> <td>75.4 %</td> <td>190,156,233</td> <td>4.73 %</td> <td>5,327,231,061</td> <td>3</td></tr><tr> <td>1985</td> <td><strong>240,499,825</strong></td> <td>0.94 %</td> <td>2,204,694</td> <td>676,492</td> <td>31.4</td> <td>1.80</td> <td>26</td> <td>74.6 %</td> <td>179,400,645</td> <td>4.94 %</td> <td>4,870,921,740</td> <td>3</td></tr><tr> <td>1980</td> <td><strong>229,476,354</strong></td> <td>0.93 %</td> <td>2,079,021</td> <td>754,176</td> <td>30.0</td> <td>1.77</td> <td>25</td> <td>73.8 %</td> <td>169,422,683</td> <td>5.15 %</td> <td>4,458,003,514</td> <td>3</td></tr><tr> <td>1975</td> <td><strong>219,081,251</strong></td> <td>0.90 %</td> <td>1,913,582</td> <td>577,869</td> <td>29.0</td> <td>2.03</td> <td>24</td> <td>73.7 %</td> <td>161,450,209</td> <td>5.37 %</td> <td>4,079,480,606</td> <td>3</td></tr><tr> <td>1970</td> <td><strong>209,513,341</strong></td> <td>0.96 %</td> <td>1,955,933</td> <td>311,211</td> <td>28.4</td> <td>2.54</td> <td>23</td> <td>73.6 %</td> <td>154,262,109</td> <td>5.66 %</td> <td>3,700,437,046</td> <td>3</td></tr><tr> <td>1965</td> <td><strong>199,733,676</strong></td> <td>1.36 %</td> <td>2,602,621</td> <td>367,146</td> <td>28.6</td> <td>3.23</td> <td>22</td> <td>71.9 %</td> <td>143,624,659</td> <td>5.98 %</td> <td>3,339,583,597</td> <td>3</td></tr><tr> <td>1960</td> <td><strong>186,720,571</strong></td> <td>1.69 %</td> <td>3,007,047</td> <td>424,979</td> <td>29.7</td> <td>3.58</td> <td>20</td> <td>70.0 %</td> <td>130,757,407</td> <td>6.15 %</td> <td>3,034,949,748</td> <td>3</td></tr><tr> <td>1955</td> <td><strong>171,685,336</strong></td> <td>1.57 %</td> <td>2,576,188</td> <td>173,553</td> <td>30.3</td> <td>3.31</td> <td>19</td> <td>67.2 %</td> <td>115,375,863</td> <td>6.19 %</td> <td>2,773,019,936</td> <td>3</td></tr></tbody></table>

In [69]:
tables = soup.find_all('table')
table_rows = tables[0].find_all('tr')
for tr in table_rows:
     print (tr)

<tr> <td> <div class="chart-header">United States Population (1950 - 2020)</div> <div class="chart-pop" id="chart_pop"></div></td> </tr>
<tr> <td><div class="chart-header">Yearly Population Growth Rate (%) </div> <div class="chart-pop-rate" id="chart_pop_rate"></div></td> </tr>

In [71]:
tables = soup.find_all('table')
table_head = tables[1].find_all('th')
for th in table_head:
     print (th)

<th>Year</th>
<th>Population</th>
<th>Yearly % <br/> Change</th>
<th>Yearly<br/> Change</th>
<th>Migrants (net)</th>
<th>Median Age</th>
<th>Fertility Rate</th>
<th>Density (P/KmÂ²)</th>
<th>Urban<br/> Pop %</th>
<th>Urban Population</th>
<th>Country's Share of<br/> World Pop</th>
<th>World Population</th>
<th>U.S.<br/>Global Rank</th>

In [82]:
content=[]
tables = soup.find_all('table')
table_rows = tables[1].find_all('td')
for td in table_rows:
     print (td)

<td>2020</td>
<td><strong>331,002,651</strong></td>
<td>0.59 %</td>
<td>1,937,734</td>
<td>954,806</td>
<td>38.3</td>
<td>1.78</td>
<td>36</td>
<td>82.8 %</td>
<td>273,975,139</td>
<td>4.25 %</td>
<td>7,794,798,739</td>
<td>3</td>
<td>2019</td>
<td><strong>329,064,917</strong></td>
<td>0.60 %</td>
<td>1,968,652</td>
<td>954,806</td>
<td>37.7</td>
<td>1.85</td>
<td>36</td>
<td>82.5 %</td>
<td>271,365,914</td>
<td>4.27 %</td>
<td>7,713,468,100</td>
<td>3</td>
<td>2018</td>
<td><strong>327,096,265</strong></td>
<td>0.62 %</td>
<td>2,011,509</td>
<td>954,806</td>
<td>37.7</td>
<td>1.85</td>
<td>36</td>
<td>82.2 %</td>
<td>268,786,714</td>
<td>4.29 %</td>
<td>7,631,091,040</td>
<td>3</td>
<td>2017</td>
<td><strong>325,084,756</strong></td>
<td>0.64 %</td>
<td>2,068,761</td>
<td>954,806</td>
<td>37.7</td>
<td>1.85</td>
<td>36</td>
<td>81.9 %</td>
<td>266,243,516</td>
<td>4.31 %</td>
<td>7,547,858,925</td>
<td>3</td>
<td>2016</td>
<td><strong>323,015,995</strong></td>
<td>0.67 %</td>
<td>2,137,685</td>
<td>954,806</td>
<td>37.7</td>
<td>1.85</td>
<td>35</td>
<td>81.7 %</td>
<td>263,743,312</td>
<td>4.33 %</td>
<td>7,464,022,049</td>
<td>3</td>
<td>2015</td>
<td><strong>320,878,310</strong></td>
<td>0.76 %</td>
<td>2,373,367</td>
<td>992,343</td>
<td>37.6</td>
<td>1.88</td>
<td>35</td>
<td>81.4 %</td>
<td>261,287,811</td>
<td>4.35 %</td>
<td>7,379,797,139</td>
<td>3</td>
<td>2010</td>
<td><strong>309,011,475</strong></td>
<td>0.93 %</td>
<td>2,803,593</td>
<td>1,085,751</td>
<td>36.9</td>
<td>2.06</td>
<td>34</td>
<td>80.7 %</td>
<td>249,297,076</td>
<td>4.44 %</td>
<td>6,956,823,603</td>
<td>3</td>
<td>2005</td>
<td><strong>294,993,511</strong></td>
<td>0.93 %</td>
<td>2,656,520</td>
<td>1,066,979</td>
<td>36.1</td>
<td>2.04</td>
<td>32</td>
<td>80.0 %</td>
<td>235,892,407</td>
<td>4.51 %</td>
<td>6,541,907,027</td>
<td>3</td>
<td>2000</td>
<td><strong>281,710,909</strong></td>
<td>1.22 %</td>
<td>3,309,433</td>
<td>1,771,991</td>
<td>35.2</td>
<td>2.00</td>
<td>31</td>
<td>79.1 %</td>
<td>222,927,913</td>
<td>4.59 %</td>
<td>6,143,493,823</td>
<td>3</td>
<td>1995</td>
<td><strong>265,163,745</strong></td>
<td>1.01 %</td>
<td>2,608,687</td>
<td>892,751</td>
<td>34.0</td>
<td>2.03</td>
<td>29</td>
<td>77.4 %</td>
<td>205,240,402</td>
<td>4.62 %</td>
<td>5,744,212,979</td>
<td>3</td>
<td>1990</td>
<td><strong>252,120,309</strong></td>
<td>0.95 %</td>
<td>2,324,097</td>
<td>673,371</td>
<td>32.8</td>
<td>1.91</td>
<td>28</td>
<td>75.4 %</td>
<td>190,156,233</td>
<td>4.73 %</td>
<td>5,327,231,061</td>
<td>3</td>
<td>1985</td>
<td><strong>240,499,825</strong></td>
<td>0.94 %</td>
<td>2,204,694</td>
<td>676,492</td>
<td>31.4</td>
<td>1.80</td>
<td>26</td>
<td>74.6 %</td>
<td>179,400,645</td>
<td>4.94 %</td>
<td>4,870,921,740</td>
<td>3</td>
<td>1980</td>
<td><strong>229,476,354</strong></td>
<td>0.93 %</td>
<td>2,079,021</td>
<td>754,176</td>
<td>30.0</td>
<td>1.77</td>
<td>25</td>
<td>73.8 %</td>
<td>169,422,683</td>
<td>5.15 %</td>
<td>4,458,003,514</td>
<td>3</td>
<td>1975</td>
<td><strong>219,081,251</strong></td>
<td>0.90 %</td>
<td>1,913,582</td>
<td>577,869</td>
<td>29.0</td>
<td>2.03</td>
<td>24</td>
<td>73.7 %</td>
<td>161,450,209</td>
<td>5.37 %</td>
<td>4,079,480,606</td>
<td>3</td>
<td>1970</td>
<td><strong>209,513,341</strong></td>
<td>0.96 %</td>
<td>1,955,933</td>
<td>311,211</td>
<td>28.4</td>
<td>2.54</td>
<td>23</td>
<td>73.6 %</td>
<td>154,262,109</td>
<td>5.66 %</td>
<td>3,700,437,046</td>
<td>3</td>
<td>1965</td>
<td><strong>199,733,676</strong></td>
<td>1.36 %</td>
<td>2,602,621</td>
<td>367,146</td>
<td>28.6</td>
<td>3.23</td>
<td>22</td>
<td>71.9 %</td>
<td>143,624,659</td>
<td>5.98 %</td>
<td>3,339,583,597</td>
<td>3</td>
<td>1960</td>
<td><strong>186,720,571</strong></td>
<td>1.69 %</td>
<td>3,007,047</td>
<td>424,979</td>
<td>29.7</td>
<td>3.58</td>
<td>20</td>
<td>70.0 %</td>
<td>130,757,407</td>
<td>6.15 %</td>
<td>3,034,949,748</td>
<td>3</td>
<td>1955</td>
<td><strong>171,685,336</strong></td>
<td>1.57 %</td>
<td>2,576,188</td>
<td>173,553</td>
<td>30.3</td>
<td>3.31</td>
<td>19</td>
<td>67.2 %</td>
<td>115,375,863</td>
<td>6.19 %</td>
<td>2,773,019,936</td>
<td>3</td>

In [87]:
pop_dem = pd.DataFrame(columns=range(0,12))
pop_dem = pd.DataFrame(pop_dem, columns=['year', 'population', 'yearly_pct_chg', 'yearly_chg','migrants_net','median_age',
                                    'fertility_rate','density','urban_pop_pct','urban_population',
                                    'country_share_worldpop','world_population','us_global_rank',''])
# pop_dem = pd.DataFrame(pop_dem[content])
pop_dem

Empty DataFrame
Columns: [year, population, yearly_pct_chg, yearly_chg, migrants_net, median_age, fertility_rate, density, urban_pop_pct, urban_population, country_share_worldpop, world_population, us_global_rank, ]
Index: []

In [97]:
pop_dem.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 14 columns):
year                      0 non-null float64
population                0 non-null float64
yearly_pct_chg            0 non-null float64
yearly_chg                0 non-null float64
migrants_net              0 non-null float64
median_age                0 non-null float64
fertility_rate            0 non-null float64
density                   0 non-null float64
urban_pop_pct             0 non-null float64
urban_population          0 non-null float64
country_share_worldpop    0 non-null float64
world_population          0 non-null float64
us_global_rank            0 non-null float64
                          0 non-null float64
dtypes: float64(14)
memory usage: 0.0+ bytes

## how do I get my table_rows  (contents) into the data frame?

In [94]:
csvFile = open("..\data\pop_dem.csv", 'wt')
writer = csv.writer(csvFile)
try:
    for row in table_rows:
        csvRow =[]    
        for cell in row.findAll(['td','th']):
            csvRow.append(cell.get_text())
            writer.writerow(csvRow)
finally:
    csvFile.close()

## where did my .csv file go?

In [95]:
csvFile = open("files/pop_dem.csv", 'wt')
writer = csv.writer(csvFile)
try:
    for row in table_rows:
        csvRow =[]    
        for cell in row.findAll(['td','th']):
            csvRow.append(cell.get_text())
            writer.writerow(csvRow)
finally:
    csvFile.close()

FileNotFoundError: [Errno 2] No such file or directory: 'files/pop_dem.csv'

In [40]:
pop_url = 'https://www.worldometers.info/world-population/us-population/'

In [41]:
#Create a handle, page, to handle the contents of the website
page = requests.get(pop_url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [42]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[1, 1, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13]

In [79]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print '%d:"%s"'%(i,name)
    col.append((name,[]))

SyntaxError: invalid syntax (<ipython-input-79-0eb383b438ec>, line 9)